.popup__button_type_save {
    padding: 0;
    border: none;
    width: 100%;
    min-height: 50px;
    background: #000000;
    border-radius: 2px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
    margin-top: 48px;
}

.popup__button_type_save:hover {
    opacity: 0.8;
}

@media screen and (max-width: 650px) {
    .popup__button_type_save {
        min-height: 46px;
        font-size: 14px;
        line-height: 17px;
    }
}