.header {
    max-width: 880px;
    margin: 45px auto 40px auto;
    border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

@media screen and (max-width: 650px) { 
    .header {
        max-width: 100%;
        margin: 28px auto 42px auto;
    }
}